<!DOCTYPE html>
<html>
<head>
    <title>Tob's Chess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
</head>
<body>
    <h1>Rob's Chess</h1>
    <div id="game-status">White's turn</div>
    <div id="board"></div>
    <button id="reset-btn">New Game</button>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- chessboard.js -->
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
    <!-- Board initialization -->
    <script src="{{ url_for('static', filename='js/chessboard-init.js') }}"></script>
</body>
</html>